@model CapstoneProject.Models.Alert

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h2>Alert</h2>
    <hr />
    @Html.Action("_DetailsPartial", new { id = Model.Id})

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

	<div class="form-actions no-color bottom-links">
		<input type="submit" value="Delete" class="btn btn-default" /> |
		@Html.ActionLink("Back", "Details", "Restaurants", new { id = ViewBag.RestaurantId }, null)
	</div>
    }
</div>
