@{
	ViewBag.Title = "Home Page";
}

<div class="container">
	<div class="row">
		<div id="banner" class="12u">
			<div class="container"><a href="#"><img src="~/Images/greens.jpg" alt=""></a></div>
		</div>
	</div>
</div>
<div id="page">
	<div class="container">
		<div class="row">
			<div class="3u">
				<div id="sidebar2">
					<section>
						<div class="sbox1">
							<h2>Features</h2>
							<ul class="style1">
								<li class="first">Allows owners to keep track of multiple locations of the same restaurant chain</li>
								<li></li>
							</ul>
						</div>
					</section>
					<section>
						<div class="sbox2">
							<h2>Nulla  eleifend</h2>
							<ul class="style1">
								<li class="first"><a href="#">Maecenas luctus lectus at sapien</a></li>
								<li><a href="#">Donec dictum metus in sapien</a></li>
								<li><a href="#">Integer gravida nibh quis urna</a></li>
								<li><a href="#">Etiam posuere augue sit amet nisl</a></li>
								<li><a href="#">Mauris vulputate dolor sit amet nibh</a></li>
								<li><a href="#">Nulla luctus eleifend purus</a></li>
							</ul>
						</div>
					</section>
				</div>
			</div>
			<div class="6u">
				<div class="skel-cell-important" id="content">
					<section>
						<div class="post">
							<h2>An inventory solution for replenishing stock on the fly</h2><a href="#"><img src="~/Images/salmon.jpg" alt=""></a>
							<p>
								It's often the case in the restaurant industry that items run out through the course of the day.  When this happens, it usually has to wait until the next morning when the suppliers come in.  However, many of the items can be bought at regular stores in the case of emergency; it's just a matter of finding someone who can step up to the task.  This apps allows management to easily send out notices to employees when shortages occur earlier on in the day.  In turn, an employee may respond to an alert and buy the needed item(s), for which they will be compensated both with the price paid and an additional payment commensurate with their hourly rate of pay for normal on-the-clock work.
							</p>
						</div>
					</section>
				</div>
			</div>
			<div class="3u" id="sidebar1">
				<section>
					<h2>Sidebar 1</h2>
					<ul class="style2">
						<li class="first">
							<p class="date"><a href="#">October <b>23</b></a></p>
							<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. </a></p>
						</li>
						<li>
							<p class="date"><a href="#">October <b>20</b></a></p>
							<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
						</li>
						<li>
							<p class="date"><a href="#">October <b>18</b></a></p>
							<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
						</li>
						<li>
							<p class="date"><a href="#">October <b>13</b></a></p>
							<p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>