<div id="page">
	<div class="container">
		<div class="row">
			<div id="banner" class="12u">
				<div class="container"><img src="~/Images/greens.jpg" alt=""></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="3u">
				<div id="sidebar2">
					<section>
						<div class="sbox1">
							<h2>Features</h2>
							<ul class="style1">
								<li class="first">Allows owners to keep track of multiple locations of the same restaurant chain.</li>
								<li>Keep tabs on inventory through a streamlined color-coded system: green means it's in plentiful supply, yellow means it's running low, and red means it's out.</li>
								<li>When items are running low or 86'd, you can send an alert that automatically informs employees who are scheduled for a shift later in the day, along with management and the owner.</li>
								<li>Only owners and management need to have an account; regular employees are able to respond to alerts without being signed in.</li>
								<li>Managers can record the compensation owed to employees who purchase items for the restaurant.</li>
								<li>Easy to navigate through the different pages of the application, so you can quickly access the relevant details.</li>
							</ul>
						</div>
					</section>
				</div>
			</div>
			<div class="9u skel-cell-important">
				<div id="content">
					<section>
						<div class="post">
							<h2>An inventory solution for replenishing stock on the fly</h2><a href="#"><img src="~/Images/salmon.jpg" alt=""></a>
							<p>
								It's often the case in the restaurant industry that items run out through the course of the day.  When this happens, it usually has to wait until the next morning when the suppliers come in.  However, many of the items can be bought at regular stores in the case of emergency; it's just a matter of finding someone who can step up to the task.  This apps allows management to easily send out notices to employees when shortages occur earlier on in the day.  In turn, an employee may respond to an alert and buy the needed item(s), for which they will be compensated both with the price paid and an additional payment commensurate with their hourly rate of pay for normal on-the-clock work.
							</p>
							<h3>@Html.ActionLink("Register Now", "Register", "Account")</h3>
						</div>
					</section>
				</div>
			</div>

		</div>
	</div>
</div>