<div class="nav-bar">
	<div class="dropdown">
		<div class="dropdown-header">Dropdown</div>
		<ul class="dropdown-content">
			<li><a href="#">Link 1</a></li>
			<li><a href="#">Link 2</a></li>
			<li><a href="#">Link 3</a></li>
		</ul>
	</div>
	<div class="dropdown">
		<div class="dropdown-header">Dropdown 2</div>
		<ul class="dropdown-content">
			<li><a href="#">Link A</a></li>
			<li><a href="#">Link B</a></li>
			<li><a href="#">Link C</a></li>
		</ul>
	</div>
	<div class="dropdown-header"><a href="#">Not Dropdown</a></div>
</div>
